---
import { RiPlayFill, RiYoutubeFill } from "@remixicon/react";
import ScreenWhite from "../components/_dev/screen-white.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="w-full bg-(image:--bg-header) bg-cover bg-center -mt-20">
    <div class="container h-dvh flex justify-center items-center">
      <div
        class="flex flex-col justify-center items-center text-center text-blue-50 sm:-mt-28 max-w-4xl"
      >
        <span class="text-md uppercase max-sm:text-sm">Control de misión</span>
        <h1
          class="text-5xl font-black my-4 uppercase text-white max-sm:text-2xl"
        >
          La mejor comunidad espacial hispanohablante
        </h1>
        <p class="font-light max-w-2xl max-sm:text-sm">
          Descubre lo último en la exploración del espacio y sus misterios. En
          Control de Misión, te mantenemos al día con noticias y avances sobre
          el vasto universo. ¡Acompáñanos en esta aventura cósmica!
        </p>
        <div
          class="flex justify-center items-center gap-6 mt-8 max-sm:flex-col"
        >
          <a
            class="flex items-center bg-neutral-50 text-neutral-950 px-4 pr-5 py-2 gap-2 rounded-full"
            href="/"
          >
            <RiYoutubeFill />
            Canal de youtube
          </a>
          <a class="text-white" href="/"> Hazte miembro </a>
        </div>
      </div>
    </div>
  </header>
  <section class="bg-gradient-to-b from-blue-950 to-blue-900 w-full">
    <div class="container pt-10 text-blue-50 flex flex-col items-center">
      <h2 class="text-3xl font-bold text-center mb-5">Ultimos videos de youtube</h2>
      <div
        class="grid grid-cols-4 max-xl:grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 gap-4 my-10"
      >
        {
          new Array(12).fill("").map((_, i) => (
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="relative flex group hover:scale-95 transition-transform"
            >
              <img
                src={
                  i % 2 == 0
                    ? "https://i.ytimg.com/vi/PByD4WKzREI/mqdefault.jpg"
                    : "https://i.ytimg.com/vi/hUzFEQ0_lIU/mqdefault.jpg"
                }
                class="w-full h-full rounded-lg z-10"
                alt=""
              />
              <img
                src={
                  i % 2 == 0
                    ? "https://i.ytimg.com/vi/PByD4WKzREI/mqdefault.jpg"
                    : "https://i.ytimg.com/vi/hUzFEQ0_lIU/mqdefault.jpg"
                }
                class="w-full h-full absolute top-0 left-0 rounded-lg transition-[filter] group-hover:blur-xl"
                alt=""
              />
            </a>
          ))
        }
      </div>
      <a
        class="flex items-center bg-neutral-50 text-neutral-950 px-5 py-2 text-sm gap-2 rounded-full"
        href="/videos"
      >
        Ver más
      </a>
    </div>
  </section>
  <span class="-mb-40 flex w-full items-center justify-center -z-10 relative">
    <img
      class="aspect-square w-xl opacity-20"
      src="/img/DIAGRAMA-LUNA.webp"
      alt=""
    />
  </span>
  <section>
    <div class="container text-blue-50 flex flex-col items-center text-center">
      <h2 class="text-3xl font-bold">Merchandising oficial</h2>
      <p>Descubre el merchandising oficial del canal</p>
  
      <div
        class="grid grid-cols-4 max-xl:grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 gap-4 my-10"
      >
        <a class="group" href="/">
          <img
            class="max-w-50 rounded-lg"
            src="/img/products/54be4cc2-5722-491d-80ec-581f4fd97b13.webp"
            alt=""
          />
          <h3 class="mt-4 text-sm font-bold">Llavero CDM Edición Roja</h3>
          <p class="text-sm">€7.53</p>
        </a>
        <a class="group" href="/">
          <img
            class="max-w-50 rounded-lg"
            src="/img/products/76b4623e-6527-4df5-b4a9-df2e7cdd72c0.webp"
            alt=""
          />
          <h3 class="mt-4 text-sm font-bold">Llavero CDM Edición Roja</h3>
          <p class="text-sm">€7.53</p>
        </a>
        <a class="group" href="/">
          <img
            class="max-w-50 rounded-lg"
            src="/img/products/54be4cc2-5722-491d-80ec-581f4fd97b13.webp"
            alt=""
          />
          <h3 class="mt-4 text-sm font-bold">Llavero CDM Edición Roja</h3>
          <p class="text-sm">€7.53</p>
        </a>
        <a class="group" href="/">
          <img
            class="max-w-50 rounded-lg"
            src="/img/products/76b4623e-6527-4df5-b4a9-df2e7cdd72c0.webp"
            alt=""
          />
          <h3 class="mt-4 text-sm font-bold">Llavero CDM Edición Roja</h3>
          <p class="text-sm">€7.53</p>
        </a>
      </div>
      <a
      class="flex items-center bg-neutral-50 text-neutral-950 px-5 py-2 text-sm gap-2 rounded-full mt-5"
      href="/videos"
    >
      Ver más productos
    </a>

    </div>
  </section>
  <ScreenWhite />
  <ScreenWhite />
  <ScreenWhite />
  <ScreenWhite />
  <ScreenWhite />
</Layout>
