---
import { RiMenu2Fill, RiMenu3Fill } from "@remixicon/react";
---

<div class="w-full sticky top-0 left-0 z-50">
  <span
    id="backgroundNavbar"
    class="w-full h-0 bg-blue-900/70 backdrop-blur-lg absolute top-0 left-0 z-30"
  ></span>
  <div
    class="container h-20 py-2 flex items-center justify-between relative z-40"
  >
    <a class="h-full flex items-center justify-center" href="/">
      <img
        src="/logo.webp"
        class="h-full aspect-square"
        alt="Logo de control de mision"
      />
    </a>
    <nav
      class="flex items-center gap-6 text-blue-50 text-sm font-light max-sm:hidden"
    >
      <a href="/"> Lanzamientos </a>
      <a href="/"> Merchandising </a>
      <a href="/"> Sobre CDM </a>
    </nav>
    <button class="text-blue-50 cursor-pointer hover:scale-120 transition-transform sm:hidden">
      <RiMenu3Fill />
    </button>
  </div>
</div>

<script>
  import { scroll, animate } from "motion";

  var showBackground = false;
  document.addEventListener("astro:page-load", () => {
    const backgroundNavbar = document.getElementById(
      "backgroundNavbar"
    ) as HTMLSpanElement;

    scroll(() => {
      if (window.scrollY >= 200) {
        if (showBackground) return;
        showBackground = true;
        animate(backgroundNavbar, {
          height: ["0%", "124%", "100%"],
          transform: ["skewY(0deg)", "skewY(-1deg)", "skewY(0deg)"],
          top: [0, "-24%", 0],
        }, {
          duration: .5
        });
      } else {
        if (!showBackground) return;
        showBackground = false;
        animate(backgroundNavbar, { height: "0" }, { duration: 0.1 });
      }
    });
  });
</script>

<style>
  #backgroundNavbar {
    transform:;
  }
</style>
