---
import {
  RiInstagramLine,
  RiSpotifyFill,
  RiTiktokFill,
  RiTwitchLine,
  RiTwitterXLine,
  RiYoutubeFill
} from "@remixicon/react";
---

<div class="w-full bg-blue-950 text-neutral-100">
  <div class="container flex items-center justify-between h-10">
    <div class="flex items-center gap-2">
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <RiYoutubeFill className="size-5" />
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <RiTwitterXLine className="size-5" />
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <RiInstagramLine className="size-5" />
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <RiTwitchLine className="size-5" />
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <RiTiktokFill className="size-5" />
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <RiSpotifyFill className="size-5" />
      </a>
    </div>
    <a href="/contact" class="text-sm">
      Contactar
    </a>
  </div>
</div>
